[submodule "pcb"]
	path = pcb
	url = https://github.com/KOEGlike/mito-pcb
[submodule "case"]
	path = case
	url = https://github.com/KOEGlike/mito-case
[submodule "blend"]
	path = blend
	url = https://github.com/KOEGlike/mito-blend
[submodule "site"]
	path = site
	url = https://github.com/KOEGlike/mito-site
[submodule "zmk"]
	path = zmk-config
	url = https://github.com/KOEGlike/zmk-config-mito